.InspectorPanel {
  width: 300px;
  border-left: 1px solid #000;
  background: #fff;
}

.SettingsPanel {
  padding-left: 15px;
  padding-right: 15px;
}

.SettingsPanel button {
  margin-right: 5px;
}

.ProjectSettings_buttons {
  margin-top: 20px;
  margin-bottom: 10px;
}

.SliderCombo {
  display: flex;
  margin-top: -4px;
  margin-left: -5px;
}

.SliderCombo .ant-slider {
  flex: 2;
}

.SliderCombo .ant-input-number {
  flex: 1;
}
