.Palette {
  flex: 0 0 100px;
  height: 100vh;
  overflow: auto;
  overflow-x: hidden;
}

.Palette > svg {
  width: 100px;
  height: 1800px;
  margin-left: 35px;
  transform-origin: top left;
  transform: scale(0.8);
}

.PaletteItem {
  cursor: pointer;
}
