.Palette {
  width: 80px;
  height: 100vh;
  overflow: auto;
}
.Palette > svg {
  width: 100px;
  height: 750px;
  margin-left: 25px;
  transform-origin: top left;
  transform: scale(0.8);
}

.PaletteNote {
  cursor: pointer;
}

.PaletteNote .MainBox {
  cursor: pointer !important;
}

.PaletteTooltip {
  font-family: Avenir, Helvetica, Arial, sans-serif;
}
