.Palette > svg {
  width: 175px;
  height: 500px;
  background: rgb(58, 47, 58);
  transform: scale(0.6);
  margin-left: -30px;
}

.PaletteNote {
  cursor: pointer;
}

.PaletteNote .MainBox {
  cursor: pointer !important;
}
